@font-face {
	font-family: 'Code-Pro-LC';
	src: url('../fonts/Code-Pro-LC.otf') format('opentype');
}

@font-face {
	font-family: 'Avenir Next Cyr';
	font-weight: 400;
	src: url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Avenir Next Cyr';
	font-weight: 700;
	src: url('../fonts/AvenirNextCyr-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Circe';
	font-weight: 400;
	src: url('../fonts/Circe-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Circe';
	font-weight: 700;
	src: url('../fonts/Circe-Bold.ttf') format('truetype');
}
