$text-color: rgb(10, 31, 68);

.btn {
	@extend .initial;
	width: 100%;
	max-width: 350rem;
	@extend .c;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 18rem 28rem;
	border-radius: 4rem;
	background-color: rgb(22, 155, 244);
	color: rgb(255, 255, 255);
	font-family: 'Avenir Next Cyr';
	font-size: 14rem;
	font-weight: 700;
	
	&:hover {
		background-color: rgb(4, 130, 214);
	}
}

h1 {
	font-family: 'Avenir Next Cyr';
	font-size: 35rem;
	font-weight: 700;
	line-height: 50rem;
}

h2 {
	font-family: 'Avenir Next Cyr';
	font-size: 31rem;
	font-weight: 700;
}

h3 {
	font-family: 'Avenir Next Cyr';
	font-size: 28rem;
	font-weight: 700;
	line-height: 32rem;
}

h4 {
	font-family: 'Avenir Next Cyr';
	font-size: 21rem;
	font-weight: 700;
	line-height: 24rem;
}

h5 {
	font-family: 'Avenir Next Cyr';
	font-size: 17rem;
	font-weight: 700;
	line-height: 20rem;
	margin-bottom: 8rem;
}

.t1 {
	font-family: 'Avenir Next Cyr';
	font-size: 21rem;
	font-weight: 400;
}

.t2 {
	font-family: 'Avenir Next Cyr';
	font-size: 17rem;
	font-weight: 400;
	letter-spacing: -0.24rem;
	line-height: 24rem;
}

.t3 {
	font-family: 'Avenir Next Cyr';
	font-size: 14rem;
	font-weight: 400;
	letter-spacing: -0.24rem;
	line-height: 20rem;
}
