.fm_ {
	@import 'index/index';
	
	& {
		font-size: .6px;
		
		@media ($sm) {
			font-size: .7px;
		}
		@media ($md) {
			font-size: .8px;
		}
		@media ($lg) {
			font-size: .9px;
		}
		@media ($xl) {
			font-size: 1px;
		}
	}
	
	.logo {
		color: rgb(2, 32, 71);
		font-family: 'Code - Pro - LC';
		font-size: 55rem;
		line-height: 65rem;
	}
	
	body {
		@extend .t1;
		color: $text-color;
		background: svg-load('../img/bg-bg.svg') no-repeat;
		background-size: 100% auto;
	}
	
	body > header {
		@extend .t2;
		padding-top: 32rem;
		// padding-bottom: 32rem;
		$mb: 32rem;
		--gap: 10rem;
		
		@media (min-width: 350px) {
			--gap: 20rem;
		}
		
		.content {
			@extend .r;
			justify-content: space-between;
			margin: 0 calc(-1 * var(--gap));
			
			.logo {
				padding: 0 var(--gap);
				margin-bottom: $mb;
			}
			
			nav .main {
				display: flex;
				align-items: center;
				
				> li {
					padding: 0 var(--gap);
					margin-bottom: $mb;
					
					a:not(.btn):hover {
						color: rgb(22, 155, 244);
					}
					
					.btn {
						padding-top: 8rem;
						padding-bottom: 8rem;
						
						@media ($sm) {
							padding-left: 14rem;
							padding-right: 14rem;
						}
					}
				}
			}
		}
	}
	
	body > footer {
		@extend .t3;
		padding-top: 32rem;
		// padding-bottom: 32rem;
		$mb: 32rem;
		color: white;
		font-size: 14rem;
		background-color: rgb(22, 155, 244);
		
		h2 {
			font-size: 16rem;
			line-height: 20rem;
			margin-bottom: 5rem;
		}
		
		.main {
			margin-bottom: 32rem;
			
			&-content {
				margin: 0 -10rem -15rem;
				
				> * {
					flex-shrink: 1;
					padding: 0 10rem;
					margin-bottom: 15rem;
				}
				
				.logo .img {
					max-width: 255rem;
				}
				
				.socials {
					@extend .r;
					justify-content: flex-end;
					margin-left: -5px;
					margin-right: -5px;
					
					li {
						margin-left: 5px;
						margin-right: 5px;
						width: 20px;
						height: 20px;
						
						@extend .hover;
					}
				}
			}
		}
		
		nav > * {
			margin-bottom: $mb;
		}
		
		.subscribe {
			display: flex;
			margin: 0 -5px $mb;
			
			.input {
				flex: 1 1 66%;
				color: white;
				font-size: 14rem;
				line-height: 24rem;
				padding: 8rem 10rem 4rem 15rem;
				background-color: rgb(0, 120, 211);
				border: 1rem solid rgba(255, 255, 255, 0.4);
				margin: 0 5px;
			}
			
			.btn {
				flex: 1 1 33%;
				padding: 10rem 17rem;
				margin: 0 5px;
				
				@extend .hover;
			}
		}
	}
	
	.index-top {
		
		.content {
			align-items: flex-end;
			
			.text {
				@media ($md) {
					margin-bottom: 85rem;
				}
				
				p {
					margin-bottom: 40rem;
				}
			}
			.img img {
				margin-bottom: -3%;
			}
		}
		
		.card {
			padding: 20rem;
			box-shadow: 0 3rem 8rem rgba(0, 0, 0, 0.1), 0 0 2rem rgba(0, 0, 0, 0.06);
			border-radius: 10rem;
			background-color: rgb(255, 255, 255);
			margin-bottom: 30rem;
			
			> h5 {
				display: flex;
				align-items: center;
				margin-bottom: 8rem;
				
				&.i {
					&::before {
						content: '';
						width: 22px;
						height: 22px;
						background: no-repeat center center;
						background-size: contain;
						margin-right: 10px;
					}
					
					&.chart::before {
						background-image: svg-load('../img/chart-bg.svg');
					}
					&.bag::before {
						background-image: svg-load('../img/bag-bg.svg');
					}
					&.monitor::before {
						background-image: svg-load('../img/monitor-bg.svg');
					}
				}
			}
		}
	}
	
	main.sign {
		padding-top: 80rem;
		background: svg-load('../img/ring-bg.svg') no-repeat bottom -54rem right 40rem;
		
		.form, .features {
			margin-bottom: 80rem;
		}
		
		.features li {
			margin-bottom: 42rem;
			
			h4 {
				display: flex;
				align-items: center;
				margin-bottom: 10rem;
				
				&.i {
					&::before {
						content: '';
						width: 34rem;
						height: 34rem;
						background: no-repeat center center;
						background-size: contain;
						margin-right: 15px;
					}
					
					&.schedule::before {
						background-image: svg-load('../img/schedule-bg.svg');
					}
					&.bag::before {
						background-image: svg-load('../img/bag-bg.svg');
					}
					&.screen::before {
						background-image: svg-load('../img/screen-bg.svg');
					}
				}
			}
		}
	}
	
}
