@import 'fonts';

.fm_ {
	@import 'index';
	
	& {
		font-size: .7px;
		--fs: .7px;
		
		@media ($sm) {
			font-size: .85px;
			--fs: .85px;
		}
		@media ($md) {
			font-size: .9px;
			--fs: .9px;
		}
		@media ($lg) {
			font-size: .95px;
			--fs: .95px;
		}
		@media ($xl) {
			font-size: 1px;
			--fs: 1px;
		}
	}
	
	.logo {
		color: rgb(2, 32, 71);
		font-family: 'Code-Pro-LC';
		font-size: calc(55 * var(--fs));
		line-height: calc(65 * var(--fs));
	}
	
	body > header {
		@extend .t2;
		padding-top: calc(32 * var(--fs));
		// padding-bottom: calc(32 * var(--fs));
		$mb: calc(32 * var(--fs));
		--gap: calc(10 * var(--fs));
		
		@media (min-width: 350px) {
			--gap: calc(20 * var(--fs));
		}
		
		.content {
			@extend .r;
			justify-content: space-between;
			margin: 0 calc(-1 * var(--gap));
			
			.logo {
				padding: 0 var(--gap);
				margin-bottom: $mb;
			}
			
			nav .main {
				display: flex;
				align-items: center;
				
				> li {
					padding: 0 var(--gap);
					margin-bottom: $mb;
					
					a.active {
						color: rgb(22, 155, 244);
						font-weight: 700;
					}
					
					a:not(.btn):hover {
						// color: rgb(22, 155, 244);
					}
					
					.btn {
						font-size: calc(14 * var(--fs));
						padding-top: calc(8 * var(--fs));
						padding-bottom: calc(8 * var(--fs));
						
						@media ($sm) {
							padding-left: calc(14 * var(--fs));
							padding-right: calc(14 * var(--fs));
						}
					}
				}
			}
		}
	}
	
	body > footer {
		@extend .t3;
		padding-top: calc(32 * var(--fs));
		// padding-bottom: calc(32 * var(--fs));
		$mb: calc(32 * var(--fs));
		color: white;
		font-size: calc(14 * var(--fs));
		background-color: rgb(22, 155, 244);
		
		h2 {
			font-size: calc(16 * var(--fs));
			line-height: calc(20 * var(--fs));
			text-align: left;
			margin-bottom: calc(5 * var(--fs));
		}
		
		.main {
			margin-bottom: calc(32 * var(--fs));
			
			&-content {
				margin: 0 calc(-10 * var(--fs)) calc(-15 * var(--fs));
				
				> * {
					flex-shrink: 1;
					padding: 0 calc(10 * var(--fs));
					margin-bottom: calc(15 * var(--fs));
				}
				
				.logo .img {
					max-width: calc(255 * var(--fs));
				}
				
				.socials {
					@extend .r;
					justify-content: flex-end;
					margin-left: -5px;
					margin-right: -5px;
					
					li {
						margin-left: 5px;
						margin-right: 5px;
						width: 20px;
						height: 20px;
						@extend .hover;
					}
				}
			}
		}
		
		nav > * {
			margin-bottom: $mb;
		}
		
		.subscribe {
			display: flex;
			margin: 0 -5px $mb;
			
			.input {
				flex: 1 1 66%;
				color: white;
				font-size: calc(14 * var(--fs));
				line-height: calc(24 * var(--fs));
				padding: calc(8 * var(--fs)) calc(15 * var(--fs));
				background-color: rgb(0, 120, 211);
				border: calc(1 * var(--fs)) solid rgba(255, 255, 255, 0.4);
				margin: 0 5px;
			}
			
			.btn {
				flex: 1 1 33%;
				padding: calc(10 * var(--fs)) calc(17 * var(--fs));
				font-size: calc(14 * var(--fs));
				margin: 0 5px;
				@extend .hover;
			}
		}
	}
	
	.index-top {
		.content {
			align-items: flex-end;
			
			@media ($md) {
				.dn {
					display: block !important;
				}
			}
			
			.text {
				@extend .c;
				
				@media ($md) {
					margin-bottom: calc(50 * var(--fs));
				}
				
				h2 {
					text-align: left;
					margin-bottom: calc(40 * var(--fs));
					
					@media ($md) {
						font-size: calc(21 * var(--fs));
						font-weight: 400;
					}
				}
				
				.btn {
					margin-bottom: calc(35 * var(--fs));
					
					@media ($md) {
					}
				}
			}
			
			.img img {
				margin-bottom: -3%;
			}
		}
		
		.card {
			padding: calc(20 * var(--fs));
			box-shadow: 0 calc(3 * var(--fs)) calc(8 * var(--fs)) rgba(0, 0, 0, 0.1), 0 0 calc(2 * var(--fs)) rgba(0, 0, 0, 0.06);
			border-radius: calc(10 * var(--fs));
			background-color: white;
			margin-bottom: calc(40 * var(--fs));
			@extend .hover;
			
			> h5 {
				margin-bottom: calc(8 * var(--fs));
			}
			
			.i {
				display: flex;
				align-items: center;
				
				&::before {
					content: '';
					width: 22px;
					height: 22px;
					background: no-repeat center center;
					background-size: contain;
					margin-right: 10px;
				}
				
				&.chart::before {
					background-image: svg-load('../img/chart-bg.svg');
				}
				&.bag::before {
					background-image: svg-load('../img/bag-bg.svg');
				}
				&.monitor::before {
					background-image: svg-load('../img/monitor-bg.svg');
				}
			}
		}
	}
	
	main.sign {
		background: url('../img/ring.svg') no-repeat bottom calc(-54 * var(--fs)) right calc(40 * var(--fs));
		background-size: calc(502 * var(--fs));
		
		.features {
			margin-bottom: calc(80 * var(--fs));
		}
		
		.features li {
			margin-bottom: calc(42 * var(--fs));
			
			h4 {
				margin-bottom: calc(10 * var(--fs));
			}
			
			.i {
				display: flex;
				align-items: center;
				
				&::before {
					content: '';
					width: calc(34 * var(--fs));
					height: calc(34 * var(--fs));
					background: no-repeat center center;
					background-size: contain;
					margin-right: 15px;
				}
				
				&.schedule::before {
					background-image: svg-load('../img/schedule-bg.svg');
				}
				&.bag::before {
					background-image: svg-load('../img/bag-bg.svg');
				}
				&.screen::before {
					background-image: svg-load('../img/screen-bg.svg');
				}
			}
		}
	}
	
	main.forgot_pw {
		background: url('../img/ring.svg') no-repeat bottom calc(-150 * var(--fs)) right calc(-144 * var(--fs));
		background-size: calc(502 * var(--fs));
		
		p {
			margin-bottom: calc(37 * var(--fs));
		}
		
		.form {
			.input {
				margin-bottom: calc(10 * var(--fs));
				
				@media ($sm) {
					margin-bottom: 0;
				}
			}
			.btn {
				max-width: none;
			}
		}
	}
	
	.join {
		&.rocket-bg {
			margin-bottom: -1px;
			
			@media ($lg) {
				background: svg-load('../img/perdeajue-bg.svg') no-repeat bottom calc(-28 * var(--fs)) center / calc(1040 * var(--fs)) calc(200 * var(--fs));
			}
			
			@media ($xl) {
				background-size: calc(1160 * var(--fs)) calc(240 * var(--fs));
				background-position: bottom calc(-36 * var(--fs)) center;
			}
		}
		
		.content {
			align-items: center;
		}
		
		.rocket {
			display: none;
			align-self: flex-end;
			
			@media ($lg) {
				display: block;
			}
			
			.img {
				@extend .c;
				justify-content: flex-end;
				align-items: center;
				
				img {
					width: auto;
					max-width: 100%;
				}
			}
		}
	}
	
	.choose_your_destiny {
		padding: calc(24 * var(--fs)) 0 calc(10 * var(--fs));
		
		.card {
			margin-bottom: calc(30 * var(--fs));
			
			&-content {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				padding: calc(30 * var(--fs));
				background: #FFFFFF;
				box-shadow: 0 calc(2 * var(--fs)) calc(6 * var(--fs)) rgba(176, 186, 197, 0.600289);
				border-radius: calc(10 * var(--fs));
				@extend .hover;
				
				br {
					display: none;
					
					@media ($md) {
						display: unset;
					}
				}
				
				&.zeppelin-bg::before {
					content: '';
					width: calc(94 * var(--fs));
					height: calc(64 * var(--fs));
					flex-shrink: 0;
					margin-right: calc(30 * var(--fs));
					background: svg-load('../img/zeppelin-bg.svg') no-repeat;
					background-size: 100%;
				}
				
				&.rocket-bg::before {
					content: '';
					width: calc(94 * var(--fs));
					height: calc(64 * var(--fs));
					// width: calc(47 * var(--fs));
					// height: calc(86 * var(--fs));
					flex-shrink: 0;
					margin-right: calc(30 * var(--fs));
					background: svg-load('../img/rocket-bg.svg') no-repeat center / contain;
					// transform: rotate(45deg);
				}
				
				b {
					color: rgb(22, 155, 244);
				}
			}
		}
	}
	
	.presentation {
		padding-bottom: calc(30 * var(--fs));
		
		&-content {
			padding-top: calc(40 * var(--fs));
			
			.frame {
				@media ($md) {
					&:nth-of-type(2n) {
						.text {
							order: 1;
						}
					}
				}
				
				> * {
					@extend .c;
					justify-content: center;
					margin-bottom: calc(70 * var(--fs));
				}
				
				.text {
					@extend .t2;
					
					h4 {
						margin-bottom: calc(15 * var(--fs));
					}
					
					.i {
						display: flex;
						align-items: center;
						
						&::before {
							content: '';
							width: 24px;
							height: 24px;
							background: no-repeat center center;
							background-size: contain;
							margin-right: 10px;
						}
						
						&.loupe::before {
							background-image: svg-load('../img/loupe-bg.svg');
						}
						&.plus::before {
							background-image: svg-load('../img/plus-bg.svg');
						}
						&.graph::before {
							background-image: svg-load('../img/graph-bg.svg');
						}
						&.voice::before {
							background-image: svg-load('../img/voice-bg.svg');
						}
						&.question::before {
							background-image: svg-load('../img/question-bg.svg');
						}
						&.bag-2::before {
							background-image: svg-load('../img/bag-2-bg.svg');
						}
						&.i-checked::before {
							background-image: svg-load('../img/i-checked-bg.svg');
						}
					}
					
					
					.colors {
						margin-top: calc(25 * var(--fs));
						
						figure {
							display: flex;
							
							dt {
								font-weight: 700;
							}
							
							&::before {
								content: '';
								width: calc(65 * var(--fs));
								height: calc(60 * var(--fs));
								border-radius: calc(4 * var(--fs));
								margin-right: calc(16 * var(--fs));
							}
							
							&.green {
								dt {
									color: rgb(41, 197, 218);
								}
								
								&::before {
									background-color: rgb(41, 197, 218);
								}
							}
							
							&.red {
								dt {
									color: rgb(252, 76, 108);
								}
								
								&::before {
									background-color: rgb(252, 76, 108);
								}
							}
						}
					}
				}
			}
		}
	}
	
	.banner.try_pro {
		padding: calc(94 * var(--fs)) 0;
		color: white;
		background-color: rgb(22, 155, 244);
		
		@media ($xl) {
			&.laptop {
				position: relative;
				
				&::after {
					content: '';
					position: absolute;
					top: calc(-61 * var(--fs));
					right: 0;
					bottom: calc(-135 * var(--fs));
					width: 45%;
					background: url(../img/laptop.png) no-repeat right center;
					background-size: contain;
				}
			}
		}
		
		.content {
			@extend .c;
			
			.btn {
				align-self: center;
			}
		}
	}
	
	.last_blog_posts {
		padding-top: calc(20 * var(--fs));
		
		a {
			display: inline;
			color: rgb(22, 155, 244);
			font-weight: 700;
		}
		
		&-content {
			justify-content: center;
			
			.card {
				margin-bottom: calc(40 * var(--fs));
				
				&-content {
					@extend .c;
					height: 100%;
					background: white;
					box-shadow: 0 calc(2 * var(--fs)) calc(6 * var(--fs)) rgba(176, 186, 197, 0.600289);
					border-radius: calc(10 * var(--fs));
					overflow: hidden;
					@extend .hover;
					
					h4 {
						margin-bottom: calc(16 * var(--fs));
					}
					
					> .body {
						flex-grow: 1;
						padding: calc(20 * var(--fs));
						@extend .t2;
					}
					
					footer {
						display: flex;
						justify-content: space-between;
						padding: calc(20 * var(--fs));
						padding-top: calc(4 * var(--fs));
						@extend .t3;
						
						a:hover {
							// @extend .link;
						}
					}
				}
			}
		}
	}
	
	.underrated_stocks {
		padding-top: calc(70 * var(--fs));
		
		.controls > * {
			width: 25px;
			height: 25px;
		}
		
		&-content {
			flex-wrap: nowrap;
			
			.card {
				margin-bottom: calc(40 * var(--fs));
				
				&-content {
					@extend .c;
					height: 100%;
					box-shadow: 0 calc(3 * var(--fs)) calc(8 * var(--fs)) rgba(0, 0, 0, 0.1), 0 0 calc(2 * var(--fs)) rgba(0, 0, 0, 0.06);
					border-radius: calc(10 * var(--fs));
					color: rgb(102, 117, 135);
					background-color: white;
					overflow: hidden;
					
					&:hover {
						.explanation {
							top: calc(13 * var(--fs));
						}
					}
					@extend .hover;
					
					> header {
						@extend .c;
						justify-content: center;
						align-items: center;
						border-bottom: 1px solid rgb(223, 230, 238);
						
						.img {
							@extend .c;
							justify-content: center;
							align-items: center;
							width: calc(255 * var(--fs));
							height: calc(100 * var(--fs));
							padding: 0 calc(34 * var(--fs));
						}
					}
					
					.body {
						@extend .c;
						position: relative;
						overflow: hidden;
						flex-grow: 1;
						padding: calc(15 * var(--fs)) calc(20 * var(--fs)) 0;
						@extend .t3;
						
						@media ($xl) {
							height: calc(300 * var(--fs));
						}
						
						p {
							margin-bottom: calc(7 * var(--fs));
						}
						
						b {
							display: block;
							color: $text-color;
							@extend h5;
							margin-bottom: calc(16 * var(--fs));
						}
						
						.profit {
							color: rgb(0, 193, 76);
						}
						
						&-header {
							display: flex;
							justify-content: space-between;
							// margin-bottom: calc(46 * var(--fs));
							
							.name {
								font-size: calc(16 * var(--fs));
								font-weight: 700;
								// margin-left: calc(20 * var(--fs));
							}
						}
					}
					
					.explanation {
						flex-grow: 1;
						padding: calc(15 * var(--fs)) calc(20 * var(--fs)) 0;
						background: white;
						box-shadow: 0 calc(2 * var(--fs)) calc(6 * var(--fs)) rgba(176, 186, 197, 0.600289);
						border-radius: calc(10 * var(--fs));
						transition: .2s all;
						margin-left: calc(-20 * var(--fs));
						margin-right: calc(-20 * var(--fs));
						
						@media ($xl) {
							position: absolute;
							top: 100%;
							bottom: 0;
							left: 0;
							right: 0;
							margin: 0;
						}
						
						h6 {
							margin-bottom: calc(7 * var(--fs));
						}
						
						p {
							color: $text-color;
							margin-bottom: calc(15 * var(--fs));
						}
					}
				}
			}
		}
	}
	
	.all_for_anal {
		padding-bottom: calc(70 * var(--fs));
		
		&-content {
			> header {
				margin-bottom: calc(40 * var(--fs));
				@extend .c;
				justify-content: center;
				
				h2 {
					text-align: left;
					margin-bottom: calc(10 * var(--fs));
				}
			}
			.card {
				margin-bottom: calc(40 * var(--fs));
				
				&-content {
					@extend .c;
					height: 100%;
					padding: calc(30 * var(--fs));
					@extend .t2;
					background: #FFFFFF;
					box-shadow: 0 calc(2 * var(--fs)) calc(6 * var(--fs)) rgba(176, 186, 197, 0.600289);
					border-radius: calc(10 * var(--fs));
					@extend .hover;
					
					h4 {
						margin-bottom: calc(25 * var(--fs));
						
						@media ($xl) {
							white-space: nowrap;
						}
					}
					
					.i {
						display: flex;
						align-items: center;
						
						&::before {
							content: '';
							width: calc(34 * var(--fs));
							height: calc(34 * var(--fs));
							background: no-repeat center center;
							background-size: contain;
							margin-right: calc(15 * var(--fs));
						}
						
						&.bulbhead::before {
							background-image: svg-load('../img/bulbhead-bg.svg');
						}
						&.bag::before {
							background-image: svg-load('../img/bag-bg.svg');
						}
						&.screen::before {
							background-image: svg-load('../img/screen-bg.svg');
						}
						&.info::before {
							background-image: svg-load('../img/info-bg.svg');
						}
						&.graph-2::before {
							background-image: svg-load('../img/graph-2-bg.svg');
						}
					}
				}
			}
		}
	}
	
	.last_user_reviews {
		
		&-content {
			.card {
				margin-bottom: calc(40 * var(--fs));
				
				&-content {
					@extend .c;
					height: 100%;
					padding: calc(20 * var(--fs)) calc(30 * var(--fs));
					@extend .t2;
					background: white;
					box-shadow: 0 calc(2 * var(--fs)) calc(6 * var(--fs)) rgba(176, 186, 197, 0.600289);
					border-radius: calc(10 * var(--fs));
					overflow: hidden;
					@extend .hover;
					
					p {
						margin-bottom: 1em;
					}
					
					> header {
						display: flex;
						margin-bottom: calc(15 * var(--fs));
						
						.img {
							width: calc(47 * var(--fs));
							height: calc(47 * var(--fs));
							margin-right: calc(10 * var(--fs));
						}
						
						.text {
							font-weight: 700;
							
							.status {
								@extend .t3;
								font-weight: 700;
								color: rgb(127, 144, 164);
							}
						}
					}
					
					> footer {
						display: flex;
						justify-content: flex-end;
						@extend .t3;
						margin-top: auto;
						
						a {
							display: inline;
							color: rgb(22, 155, 244);
							font-weight: 700;
							
							&:hover {
								// text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
	
	.tariffs {
		padding-top: calc(43 * var(--fs));
		
		h2 {
			margin-bottom: calc(15 * var(--fs));
		}
		
		h4 {
			font-size: calc(20 * var(--fs));
			margin-bottom: calc(13 * var(--fs));
		}
		
		.info {
			// cursor: pointer;
			
			.hint {
				position: relative;
				width: calc(15 * var(--fs));
				height: calc(15 * var(--fs));
				margin-left: calc(16 * var(--fs));
				background-image: svg-load('../img/hint-bg.svg');
				background-size: 100% 100%;
				
				&-content {
					display: none;
					position: absolute;
					bottom: calc(100% + calc(10 * var(--fs)));
					left: calc(-20 * var(--fs));
					width: calc(270 * var(--fs));
					padding: calc(10 * var(--fs)) calc(15 * var(--fs)) calc(15 * var(--fs));
					color: white;
					background: #3F4A56;
					border-radius: calc(4 * var(--fs));
					z-index: 1;
					
					&::after {
						content: '';
						position: absolute;
						width: calc(9 * var(--fs));
						height: calc(9 * var(--fs));
						left: calc(22.5 * var(--fs));
						bottom: calc(-4.5 * var(--fs));
						background: #3F4A56;
						transform: rotate(-45deg);
					}
				}
				
			}
			&:hover,
			&:active {
				.hint {
					background-image: svg-load('../img/hint-bg.svg', fill=#169BF4);
					
					&-content {
						display: block;
					}
				}
			}
		}
		
		.i {
			display: flex;
			align-items: center;
			margin-bottom: -1px;
			
			&::before {
				content: '';
				width: calc(20 * var(--fs));
				height: calc(24 * var(--fs));
				margin-right: calc(15 * var(--fs));
				background-size: 100% 100%;
			}
			
			&.pro- {
				&1::before {
					background-image: svg-load('../img/pro-1-bg.svg');
				}
				&2::before {
					background-image: svg-load('../img/pro-2-bg.svg');
				}
				&3::before {
					background-image: svg-load('../img/pro-3-bg.svg');
				}
				
			}
		}
		
		li {
			@extend .r;
			align-items: center;
			height: calc(60 * var(--fs));
			padding-left: calc(20 * var(--fs));
			padding-right: calc(20 * var(--fs));
			border-top: 1px solid #DFE6EE;
			
			&:first-child {
				height: calc(100 * var(--fs));
			}
			
			:last-child {
				margin-bottom: 0;
			}
		}
		
		.card-content {
			li {
				justify-content: center;
				text-align: center;
			}
			
			> footer {
				border-top: 1px solid #DFE6EE;
			}
		}
		
		.legend {
			padding-right: 0;
			
			@media ($xl) {
				padding-right: 15px;
			}
			
			&-content .body {
				:first-child {
					border-top: none;
				}
			}
		}
		
		.card {
			padding-left: 0;
			@media ($xl) {
				padding-left: 15px;
				
				+ .legend {
					display: none;
				}
			}
		}
		
		.card,
		.legend {
			margin-bottom: calc(70 * var(--fs));
			
			&-content {
				> header {
					@extend .c, .t2;
					justify-content: center;
					align-items: center;
					text-align: center;
					height: calc(100 * var(--fs));
					padding-left: calc(20 * var(--fs));
					padding-right: calc(20 * var(--fs));
				}
				
				> footer {
					@extend .c;
					justify-content: center;
					align-items: center;
					text-align: center;
					height: calc(165 * var(--fs));
					padding-left: calc(20 * var(--fs));
					padding-right: calc(20 * var(--fs));
				}
			}
		}
		
		.card-content,
		.legend-content .body {
			@extend .c;
			box-sizing: content-box;
			height: 100%;
			@extend .t3;
			background: white;
			border: 1px solid #DFE6EE;
			box-shadow: 0 calc(2 * var(--fs)) calc(6 * var(--fs)) rgba(176, 186, 197, 0.600289);
			border-radius: calc(10 * var(--fs));
			@extend .hover;
			
			> * {
				flex-shrink: 0;
			}
			
			&.pro {
				border: 1px solid #27AE60;
				border-top: calc(17 * var(--fs)) solid #27AE60;
				margin-top: calc(1px - calc(17 * var(--fs)));
				
				> footer {
					border-color: #27AE60;
				}
				
				.discount {
					background: rgba(39, 174, 96, 0.05);
					border-color: #27AE60;
				}
			}
		}
		
		.yea {
			background: url(../img/yea.svg) no-repeat center center;
			background-size: calc(31 * var(--fs)) calc(25 * var(--fs));
		}
		
		.nay {
			background: url(../img/nay.svg) no-repeat center center;
			background-size: calc(25 * var(--fs)) calc(25 * var(--fs));
		}
	}
	
	@import 'index/bgs';
}
