.fm_ {
	@import 'index';
	
	& {
		font-size: .6px;
		
		@media ($sm) {
			font-size: .7px;
		}
		@media ($md) {
			font-size: .8px;
		}
		@media ($lg) {
			font-size: .9px;
		}
		@media ($xl) {
			font-size: 1px;
		}
	}
	
	.logo {
		color: rgb(2, 32, 71);
		font-family: 'Code - Pro - LC';
		font-size: 55rem;
		line-height: 65rem;
	}
	
	body > header {
		@extend .t2;
		padding-top: 32rem;
		// padding-bottom: 32rem;
		$mb: 32rem;
		--gap: 10rem;
		
		@media (min-width: 350px) {
			--gap: 20rem;
		}
		
		.content {
			@extend .r;
			justify-content: space-between;
			margin: 0 calc(-1 * var(--gap));
			
			.logo {
				padding: 0 var(--gap);
				margin-bottom: $mb;
			}
			
			nav .main {
				display: flex;
				align-items: center;
				
				> li {
					padding: 0 var(--gap);
					margin-bottom: $mb;
					
					a.active {
						color: rgb(22, 155, 244);
						font-weight: 700;
					}
					
					a:not(.btn):hover {
						color: rgb(22, 155, 244);
					}
					
					.btn {
						font-size: 14rem;
						padding-top: 8rem;
						padding-bottom: 8rem;
						
						@media ($sm) {
							padding-left: 14rem;
							padding-right: 14rem;
						}
					}
				}
			}
		}
	}
	
	body > footer {
		@extend .t3;
		padding-top: 32rem;
		// padding-bottom: 32rem;
		$mb: 32rem;
		color: white;
		font-size: 14rem;
		background-color: rgb(22, 155, 244);
		
		h2 {
			font-size: 16rem;
			line-height: 20rem;
			text-align: left;
			margin-bottom: 5rem;
		}
		
		.main {
			margin-bottom: 32rem;
			
			&-content {
				margin: 0 -10rem -15rem;
				
				> * {
					flex-shrink: 1;
					padding: 0 10rem;
					margin-bottom: 15rem;
				}
				
				.logo .img {
					max-width: 255rem;
				}
				
				.socials {
					@extend .r;
					justify-content: flex-end;
					margin-left: -5px;
					margin-right: -5px;
					
					li {
						margin-left: 5px;
						margin-right: 5px;
						width: 20px;
						height: 20px;
						@extend .hover;
					}
				}
			}
		}
		
		nav > * {
			margin-bottom: $mb;
		}
		
		.subscribe {
			display: flex;
			margin: 0 -5px $mb;
			
			.input {
				flex: 1 1 66%;
				color: white;
				font-size: 14rem;
				line-height: 24rem;
				padding: 8rem 15rem;
				background-color: rgb(0, 120, 211);
				border: 1rem solid rgba(255, 255, 255, 0.4);
				margin: 0 5px;
			}
			
			.btn {
				flex: 1 1 33%;
				padding: 10rem 17rem;
				font-size: 14rem;
				margin: 0 5px;
				@extend .hover;
			}
		}
	}
	
	.index-top {
		.content {
			align-items: flex-end;
			
			.text {
				@media ($md) {
					margin-bottom: 85rem;
				}
				
				p {
					margin-bottom: 40rem;
				}
			}
			.img img {
				margin-bottom: -3%;
			}
		}
		
		.card {
			padding: 20rem;
			box-shadow: 0 3rem 8rem rgba(0, 0, 0, 0.1), 0 0 2rem rgba(0, 0, 0, 0.06);
			border-radius: 10rem;
			background-color: white;
			margin-bottom: 40rem;
			@extend .hover;
			
			> h5 {
				align-items: center;
				margin-bottom: 8rem;
			}
			
			.i {
				display: flex;
				
				&::before {
					content: '';
					width: 22px;
					height: 22px;
					background: no-repeat center center;
					background-size: contain;
					margin-right: 10px;
				}
				
				&.chart::before {
					background-image: svg-load('../img/chart-bg.svg');
				}
				&.bag::before {
					background-image: svg-load('../img/bag-bg.svg');
				}
				&.monitor::before {
					background-image: svg-load('../img/monitor-bg.svg');
				}
			}
		}
	}
	
	main.sign {
		background: url('../img/ring.svg') no-repeat bottom -54rem right 40rem;
		background-size: 502rem;
		
		.features {
			margin-bottom: 80rem;
		}
		
		.features li {
			margin-bottom: 42rem;
			
			h4 {
				align-items: center;
				margin-bottom: 10rem;
			}
			
			.i {
				display: flex;
				
				&::before {
					content: '';
					width: 34rem;
					height: 34rem;
					background: no-repeat center center;
					background-size: contain;
					margin-right: 15px;
				}
				
				&.schedule::before {
					background-image: svg-load('../img/schedule-bg.svg');
				}
				&.bag::before {
					background-image: svg-load('../img/bag-bg.svg');
				}
				&.screen::before {
					background-image: svg-load('../img/screen-bg.svg');
				}
			}
		}
	}
	
	main.forgot_pw {
		background: url('../img/ring.svg') no-repeat bottom -150rem right -144rem;
		background-size: 502rem;
		
		p {
			margin-bottom: 37rem;
		}
		
		.form {
			.input {
				margin-bottom: 10rem;
				
				@media ($sm) {
					margin-bottom: 0;
				}
			}
			.btn {
				max-width: none;
			}
		}
	}
	
	.join {
		z-index: 0;
		
		&.rocket-bg {
			@media ($lg) {
				position: relative;
				overflow: hidden;
				margin-bottom: -1px;
				
				&::before,
				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: 225rem;
					background-size: 675rem 100% !important;
					z-index: -1;
					margin-left: -.5px;
					margin-right: -.5px;
				}
				
				&::before {
					right: 50%;
					background: url(../img/rocket-bg-left.png) no-repeat right bottom;
				}
				&::after {
					left: 50%;
					background: url(../img/rocket-bg-right.png) no-repeat left bottom;
				}
			}
			@media ($xl) {
				&::before,
				&::after {
					background-size: auto !important;
				}
			}
		}
		
		.content {
			align-items: center;
		}
		
		.rocket {
			display: none;
			
			@media ($lg) {
				display: block;
			}
			
			.img {
				@extend .c;
				justify-content: flex-end;
				align-items: center;
				img {
					width: auto;
				}
			}
		}
	}
	
	.choose_your_destiny {
		padding: 24rem 0 10rem;
		
		.card {
			margin-bottom: 30rem;
			
			&-content {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				padding: 30rem;
				background: #FFFFFF;
				box-shadow: 0 2rem 6rem rgba(176, 186, 197, 0.600289);
				border-radius: 10rem;
				@extend .hover;
				
				br {
					display: none;
					
					@media ($md) {
						display: unset;
					}
				}
				
				&.zeppelin-bg::before {
					content: '';
					width: 94rem;
					height: 64rem;
					flex-shrink: 0;
					margin-right: 30rem;
					background: svg-load('../img/zeppelin-bg.svg') no-repeat;
					background-size: 100%;
				}
				
				&.rocket-bg::before {
					content: '';
					width: 47rem;
					height: 86rem;
					flex-shrink: 0;
					margin-right: 30rem;
					background: svg-load('../img/rocket-bg.svg') no-repeat;
					background-size: 100%;
					transform: rotate(45deg);
				}
				
				b {
					color: rgb(22, 155, 244);
				}
			}
		}
	}
	
	.presentation {
		padding-bottom: 30rem;
		
		&-content {
			padding-top: 40rem;
			
			.frame {
				@media ($lg) {
					&:nth-of-type(2n) {
						.text {
							order: 1;
						}
					}
				}
				
				> * {
					@extend .c;
					justify-content: center;
					margin-bottom: 70rem;
				}
				
				.text {
					@extend .t2;
					
					h4 {
						align-items: center;
						margin-bottom: 15rem;
					}
					
					.i {
						display: flex;
						
						&::before {
							content: '';
							width: 24px;
							height: 24px;
							background: no-repeat center center;
							background-size: contain;
							margin-right: 10px;
						}
						
						&.loupe::before {
							background-image: svg-load('../img/loupe-bg.svg');
						}
						&.plus::before {
							background-image: svg-load('../img/plus-bg.svg');
						}
						&.graph::before {
							background-image: svg-load('../img/graph-bg.svg');
						}
						&.voice::before {
							background-image: svg-load('../img/voice-bg.svg');
						}
						&.question::before {
							background-image: svg-load('../img/question-bg.svg');
						}
						&.bag-2::before {
							background-image: svg-load('../img/bag-2-bg.svg');
						}
						&.i-checked::before {
							background-image: svg-load('../img/i-checked-bg.svg');
						}
					}
					
					
					.colors {
						margin-top: 25rem;
						
						figure {
							display: flex;
							
							dt {
								font-weight: 700;
							}
							
							&::before {
								content: '';
								width: 65rem;
								height: 60rem;
								border-radius: 4rem;
								margin-right: 16rem;
							}
							
							&.green {
								dt {
									color: rgb(41, 197, 218);
								}
								
								&::before {
									background-color: rgb(41, 197, 218);
								}
							}
							
							&.red {
								dt {
									color: rgb(252, 76, 108);
								}
								
								&::before {
									background-color: rgb(252, 76, 108);
								}
							}
						}
					}
				}
			}
		}
	}
	
	.banner.try_pro {
		padding: 94rem 0;
		color: white;
		background-color: rgb(22, 155, 244);
		
		@media ($xl) {
			&.laptop {
				position: relative;
				
				&::after {
					content: '';
					position: absolute;
					top: -61rem;
					right: 0;
					bottom: -35rem;
					width: 45%;
					background: url(../img/laptop.png) no-repeat right center;
					background-size: contain;
				}
			}
		}
		
		.content {
			@extend .c;
			
			.btn {
				align-self: center;
			}
		}
	}
	
	.last_blog_posts {
		padding-top: 20rem;
		
		a {
			display: inline;
			color: rgb(22, 155, 244);
			font-weight: 700;
		}
		
		&-content {
			justify-content: center;
			
			.card {
				margin-bottom: 40rem;
				
				&-content {
					@extend .c;
					height: 100%;
					background: white;
					box-shadow: 0 2rem 6rem rgba(176, 186, 197, 0.600289);
					border-radius: 10rem;
					overflow: hidden;
					@extend .hover;
					
					h4 {
						margin-bottom: 16rem;
					}
					
					> .body {
						flex-grow: 1;
						padding: 20rem;
						@extend .t2;
					}
					
					footer {
						display: flex;
						justify-content: space-between;
						padding: 20rem;
						padding-top: 4rem;
						@extend .t3;
						
						a:hover {
							@extend .link;
						}
					}
				}
			}
		}
	}
	
	.underrated_stocks {
		padding-top: 70rem;
		
		&-content {
			.card {
				&-content {
					@extend .c;
					box-shadow: 0 3rem 8rem rgba(0, 0, 0, 0.1), 0 0 2rem rgba(0, 0, 0, 0.06);
					border-radius: 10rem;
					color: rgb(102, 117, 135);
					background-color: white;
					margin-bottom: 40rem;
					
					&:hover {
						.explanation {
							top: 13rem;
						}
					}
					@extend .hover;
					
					> header {
						@extend .c;
						justify-content: center;
						align-items: center;
						border-bottom: 1px solid rgb(223, 230, 238);
						
						.img {
							@extend .c;
							justify-content: center;
							align-items: center;
							width: 255rem;
							height: 100rem;
							padding: 0 34rem;
						}
					}
					
					.body {
						position: relative;
						overflow: hidden;
						height: 300rem;
						padding: 15rem 20rem 20rem;
						@extend .t3;
						
						p {
							margin-bottom: 7rem;
						}
						
						b {
							display: block;
							color: $text-color;
							font-size: 17rem;
							line-height: 20rem;
							font-weight: 700;
							margin-bottom: 16rem;
						}
						
						.profit {
							color: rgb(0, 193, 76);
						}
						
						&-header {
							display: flex;
							justify-content: space-between;
							// margin-bottom: 46rem;
							
							.name {
								font-size: 16rem;
								font-weight: 700;
								// margin-left: 20rem;
							}
						}
					}
					
					.explanation {
						position: absolute;
						top: 100%;
						bottom: 0;
						left: 0;
						right: 0;
						padding: 15rem 20rem 0;
						background: white;
						box-shadow: 0 2rem 6rem rgba(176, 186, 197, 0.600289);
						border-radius: 10rem;
						transition: .2s all;
						
						h6 {
							margin-bottom: 7rem;
						}
						
						p {
							color: $text-color;
							margin-bottom: 15rem;
						}
					}
				}
			}
		}
	}
	
	.all_for_anal {
		padding-bottom: 70rem;
		
		&-content {
			> header {
				margin-bottom: 40rem;
				@extend .c;
				justify-content: center;
				h2 {
					text-align: left;
					margin-bottom: 10rem;
				}
			}
			.card {
				margin-bottom: 40rem;
				
				&-content {
					@extend .c;
					height: 100%;
					padding: 30rem;
					background: #FFFFFF;
					box-shadow: 0 2rem 6rem rgba(176, 186, 197, 0.600289);
					border-radius: 10rem;
					@extend .hover;
					
					h4 {
						margin-bottom: 25rem;
						
						@media ($xl) {
							white-space: nowrap;
						}
					}
					
					.i {
						display: flex;
						
						&::before {
							content: '';
							width: 34rem;
							height: 34rem;
							background: no-repeat center center;
							background-size: contain;
							margin-right: 15rem;
						}
						
						&.bulbhead::before {
							background-image: svg-load('../img/bulbhead-bg.svg');
						}
						&.bag::before {
							background-image: svg-load('../img/bag-bg.svg');
						}
						&.screen::before {
							background-image: svg-load('../img/screen-bg.svg');
						}
						&.info::before {
							background-image: svg-load('../img/info-bg.svg');
						}
						&.graph-2::before {
							background-image: svg-load('../img/graph-2-bg.svg');
						}
					}
				}
			}
		}
	}
	
	.last_user_reviews {
		
		&-content {
			.card {
				margin-bottom: 40rem;
				
				&-content {
					@extend .c;
					height: 100%;
					padding: 20rem 30rem;
					@extend .t2;
					background: white;
					box-shadow: 0 2rem 6rem rgba(176, 186, 197, 0.600289);
					border-radius: 10rem;
					overflow: hidden;
					@extend .hover;
					
					p {
						margin-bottom: 1em;
					}
					
					> header {
						display: flex;
						margin-bottom: 15rem;
						
						.img {
							width: 47rem;
							height: 47rem;
							margin-right: 10rem;
						}
						
						.text {
							font-weight: 700;
							
							.status {
								@extend .t3;
								font-weight: 700;
								color: rgb(127, 144, 164);
							}
						}
					}
					
					> footer {
						display: flex;
						justify-content: flex-end;
						@extend .t3;
						margin-top: auto;
						
						a {
							display: inline;
							color: rgb(22, 155, 244);
							font-weight: 700;
							
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
	
	@import 'index/bgs';
}
